
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - University management portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            @Html.ActionLink("College Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand ms-2" })


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            

            @if (Session["UserName"] != null)
            {
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink("Courses", "GetCourses", "Course", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Teachers", "Index", "Teacher", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                        <li class="nav-item position-absolute end-0 align-items-center">
                            @Html.ActionLink("Log out", "Logout", "Account", new { area = "" }, new { @class = "btn btn-outline-danger me-4 mb-2 p-1" })
                        </li>

                    </ul>
                </div>

            }
            else
            {

                <div class="collapse navbar-collapse me-3" id="navbarNav">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })


                            <button type="button" class="btn btn-dark nav-link" id="modalOpen" data-bs-toggle="modal" data-bs-target="#ContactModal">
                                Contact Us
                            </button>

                        </div>
                    </div>

                    <ul class="navbar-nav position-absolute end-0 ">
                        <li class="nav-item">
                            @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "btn btn-outline-info me-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "btn btn-outline-success me-3" })
                        </li>
                    </ul>
                </div>





            }





        </div>




    </nav>


    

    <div>
        @RenderBody()

        <div class="">
            <hr />
            <div class="container">
                <footer class="py-3 my-4">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">
                            <button type="button" class=" btn nav-link" data-bs-toggle="modal" data-bs-target="#ContactModal">
                                Contact Us
                            </button>
                        </li>
                    </ul>
                    <p class="text-center text-muted">© MRU College, Established 1999</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>



</html>


<div id="contactRendered">

</div>



<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            var contactFormData = $("#contactForm").serialize();

            // Script for submit button in contact form
            //stores data to the database 'contact us' table


            $.ajax({
                type: "POST",
                url: "/Home/PartialModalView",
                data: contactFormData,
                success: function () {
                    window.location.href = "/";
                }
            })
        })

        $('#modalOpen').click(function() {
          
            
            var url = '@Url.Action("PartialModalView", "Home")';
            $('#contactRendered').load(url);
            
        })


    })
</script>



<!--
    

    
<div id="ContactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Contact us" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {
                Html.RenderPartial("PartialModalView");
            }
        </div>



     $("#modalOpen").click(function () {
            $.ajax({

                url: 'Url.Content("~/Home/PartialModalView")',
                success: function(result) {
                    $('#PlaceHolderHere').innerHTML = result;
                }
            });
        })

<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            var contactFormData = $("contactForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Home/PartialModalView",
                data: contactFormData,
                success: function () {
                    window.location.href = "/Home/Index";
                }
            })
        })


    })
</script>

    $(function () {
            var PlaceHolderElement = $("#PlaceHolderHere");
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show')
            })
        });


    data-bs-toggle="modal" data-bs-target="#ContactModal"


    data-url="Url.Action("PartialModalView", "Home")"
-->
