@model IEnumerable<mvcApp1.Models.Course>

@if (Session["UserName"] == null)
{
    Response.Redirect("~/Account/Login", false);
}

<header>

</header>

<div class="container">


    <table class="table my-3">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.TeacherName)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
                </td>
                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <p>
        @Html.ActionLink("Create New", "Create", new { @class = "my-1" })
    </p>


</div>


