@model mvcApp1.ViewModels.EnrolledViewModel

<div>
    <h4>@Model.Student.firstName.ToUpper()'s enrolled courses</h4>
    <hr />
    <table class="table table-bordered table-hover">

        <tr class="btn-primary">
            <th>ID</th>
            <th>Course Name</th>
            <th>Instructor Name</th>
            <th>Credit Hours</th>
        </tr>

        @foreach (var course in Model.Courses)
        {
            <tr>
                <th>@course.Id</th>
                <th>@course.Name</th>
                <th>@course.InstructorName</th>
                <th>@course.CreditHours</th>
            </tr>
        }


    </table>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
