@model IEnumerable<mvcApp1.Models.Teacher>

@if (Session["UserName"] == null)
{
    Response.Redirect("~/Account/Login", false);
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTaught)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTaught)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TeacherId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
            </td>
        </tr>
    }

</table>
