@model IEnumerable<mvcApp1.Models.Teacher>

@if (Session["UserName"] == null)
{
    Response.Redirect("~/Account/Login", false);
}

<div class="container my-5">

    <table class="table table-hover  table-striped table-light my-3">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseTaught)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTaught)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeacherId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
                </td>
            </tr>
        }


    
    </table>
    
</div>

<div>
    <p class="mx-5 nav-link">
        @Html.ActionLink("Create New", "Create")
    </p>


</div>
